*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

/* (OuterLayout) Display -> grid */

body{
    display: grid;
    background-color: #FFD93D;
}

/* Number of Rows */
body {
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}

/* Navbar */
.navbar{
    background-color: #e97d25;
    & img[alt='logo'] {
        width: 5rem;
    }
}

/* All images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}


/* Text align: center */
:is(h2, footer p) {
    text-align: center;
}
