*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

/* (OuterLayout) Display -> grid */

body{
    display: grid;
    background-color: #C69749;
    color: #1B2430;
}

/* Number of Rows */
body {
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}

/* Navbar */
.navbar{
    background-color: #581C0C;
    & img[alt='logo'] {
        width: 5rem;
    }
}
.nav-link {
    color: #F1E3CB;
}

/* All images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}


/* Text align: center */
:is(h2, footer p) {
    text-align: center;
}

/* Card style */
.card {
    width: 18rem;
    background-color: burlywood;
    padding-top: 10px;
    margin: auto;
    
}